name: Run molecule test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        
      - name: Setup Python
        uses: actions/setup-python@v4.4.0
        with:
          python-version: "3.10"
          
      - name: Install librairies
        run: python -m pip install -r requirements.txt
          
      - name: Launch Molecule
        run: |
           molecule test
#          molecule create
#          molecule prepare
#          molecule converge
        
